<div class="card mb-4 project-card">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{ project.project.photoUrl || '../../../assets/project.jpg' }}"
      alt="{{ project.project.title }}">
    <div
      class="card-img-overlay"
      *ngIf="isPassed()"
      style="background: rgba(254, 254, 254, 0.5);">
      <h5
        class="card-title"
        style="color: #272b30; text-align: center; font-variant-caps:all-small-caps;">
        Vergangen
      </h5>
    </div>
    <ul
      class="list-inline member-icons animate text-center"
      *ngIf="!isPassed()">
      <li class="list-inline-item">
        <button
          data-toggle="tooltip"
          data-placement="top"
          title="Zu- oder absagen"
          class="btn btn-primary"
          [routerLink]="['/projects']">
          <fa-icon [icon]="faThumbsUp"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          data-toggle="tooltip"
          data-placement="top"
          title="Projektinfos"
          class="btn btn-primary"
          [routerLink]="['/projects', project.id]">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button
          data-toggle="tooltip"
          data-placement="top"
          title="Kommentar schreiben"
          class="btn btn-primary"
          [routerLink]="['/projects', project.id]"
          [queryParams]="{ tab: 2 }">
          <fa-icon [icon]="faComment"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <fa-icon
        class="text-success"
        rel="tooltip"
        title="Zugesagt"
        *ngIf="project.userState === userState.ja"
        [icon]="faThumbsUp"></fa-icon>

      <fa-icon
        *ngIf="project.userState === userState.nein"
        rel="tooltip"
        title="Abgesagt"
        [icon]="faThumbsDown"
        class="text-danger"></fa-icon>
      <fa-icon
        [icon]="faQuestionCircle"
        *ngIf="project.userState === userState.vielleicht"
        rel="tooltip"
        title="Teilnahme unsicher"
        class="text-warning"></fa-icon>
      {{ project.project.date | date: 'yyMM' }} {{ project.project.title }}
    </h6>
    <p class="card-text text-muted text-center">
      {{ project.project.date | date: 'fullDate' }}
    </p>
    <p class="card-text text-muted text-center">
      {{ project.project.city }} - {{ project.project.location }}
    </p>
  </div>
</div>
